<!--ADMIN SITE-->
<%- include('partials/header') %>

<h1>ARC Admin Console</h1>

<div class="row mb-4">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h4>Webinars</h4>
      </div>
      <div class="card-body">
        <a href="/admin/webinar" class="btn btn-info">View</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h4>eBook</h4>
      </div>
      <div class="card-body">
        <a href="/admin/ebook" class="btn btn-info">View</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>