<a type="button" class="btn-close" href="/"></a>

<div class="card" id="start-card">
    <div class="card-body">
        <button class="btn btn-info" id="startBtn">Start</button>
    </div>
</div>

<div class="card hidden" id="question-card">
    <div class="card-body">
        <h5>Translate</h5>
        <p id="questionText">This sentence is what would be translated</p>
        <textarea name="" id="answerBox" ></textarea>
        <a href="javascript:void(0)" class="btn btn-success">Submit</a>
    </div>
</div>

