<%- include('partials/header') %>


<div class="card">
  <div class="card-header">
    <h1 id="dl">Download</h1>
  </div>
  <div class="card-body">
    <h5>Thank you for requesting to download our eBook 'Change is Inevitable'.</h5>
    <p>If the eBook doesn't download automatically, please right-click and save-as on the link below.</p>
    <a href="/assets/change_is_inevitable.pdf" download="change_is_inevitable.pdf" id="dlBtn" class="btn btn-light">Download</a>
  </div>
    
    <script src="/js/script.js"></script>
  <%- include('partials/footer') %>
</div>